# SPDX-FileCopyrightText: 2019, 2020, Alex Willmer <alex@moreati.org.uk>
# SPDX-License-Identifier: Apache-2.0
# https://editorconfig.org/

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_newspace = true
